@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:26px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    color: #fff;
}
.line .iconfont{
    color: rgb(191,191,191) !important;
}
body{
    font-family: 微软雅黑;
}

.iconfont:hover{
    text-decoration: none;
}
.navbar-default .navbar-brand{
    font-family: 微软雅黑;
    color: #fff;
}
.navbar{
    background: rgb(3,169,245);
    border: 0;
    border-radius: 0;
    padding-left: 10px;
}
a:hover{
    text-decoration: none !important;
    opacity: 0.8;
}


.btn-register{
    margin-top: 35px;
    width: 100% !important;
    border-radius: 0;
    color: rgb(210,217,224);
    background: rgb(3,169,245);
    height: 35px;
    font-family: 微软雅黑;
    font-size: 15px;
}

.footer{
    position: fixed;
    bottom: 0px;
    background: rgb(242,242,242);
    left: 0;
}
.footer .btn{
    border: 0;
}
.footer .col-xs-4{
    text-align: center;
}
.footer .col-xs-4 .iconfont{
    color: rgb(117,117,117);
    font-size: 35px;
    font-weight: 600;
}
.footer .col-xs-4 button{
    width: 100%;
    background: rgba(0,0,0,0);
}
.footer .col-xs-4 button:hover{
    opacity: 0.7;
}

.intro-words{
    font-family: 微软雅黑;
    font-size: 16px;
    line-height: 28px;
}
.project-title{
    padding-top: 21px;
}
.date{
    color: rgb(171,171,171);
}
.div2{
    margin-bottom: 85px;
}
.div1{
    margin-bottom: 85px;
}

.none{
    display: none;
}
.block{
    display: block;
}
.click{
    color: rgb(35,156,217) !important;
}